@import '../../../../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(#{--card-background-default});
  border-radius: 10px;
  width: 149px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: var(--card-box-shadow-default);
  }

  .day {
    color: var(#{--text-color-default});
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
  }

  .day__info {
    font-size: 14px;
    color: $base-color;
    margin-bottom: 12px;
  }

  .img {
    margin-bottom: 13px;
  }

  .temp__day {
    font-size: 18px;
    font-weight: 500;
    color: var(#{--text-color-default});
  }

  .temp__night,
  .info {
    font-size: 13px;
    color: $base-color;
  }

  .temp__night {
    margin-bottom: 6px;
  }
}
